<!-- Begin About Page -->
<section ng-controller="AboutController">
    <!-- Begin Container -->
    <div class="container">
        <!-- Begin Page Fully Loaded With Errors -->
        <div id="pageShow" class="collapse" ng-if="pageFullyLoaded && error.error">
            <div ng-controller="ErrorController" ng-init="init(error.title, error.status, error.message)">
                <div ng-include="'/modules/core/client/views/error.client.view.html'"></div>
            </div>
        </div>
        <!-- End Page Fully Loaded With Errors -->
        <!-- Begin Page Fully Loaded With No Errors -->
        <div id="pageShow" class="animated animation-delay--md fadeIn collapse" ng-if="pageFullyLoaded && !error.error">
            <!-- Begin Content Header -->
            <div class="jumbotron jumbotron-radius--none jumbotron-color--opacity-black jumbotron-fixed-height text-center mb-0">
                <h1 class="font-fancy--2 text-color--white" ng-class="{'mb-0': about.pageSubHeader.length == 0}">{{about.pageHeader}}</h1>
                <h5 class="mb-0 text-color--white">{{about.pageSubHeader}}</h5>
            </div>
            <!-- End Content Header -->
            <!-- Begin Content Body -->
            <div class="card card--border--none card--radius--none card-body box-shadow--sm card-min-height">
                <div class="row">
                    <!-- Begin Who -->
                    <div id="about-who" class="col-md-6" ng-style="animationStyle" style="visibility: hidden;">
                        <span class="h3 text-uppercase font-weight-bold highlight-text-foreground font-fancy--2">Who</span>
                        <div class="card--border--bottom card--border----quadruple card--border--theme mt-2 mb-2 w-25"></div>
                        <p class="pl-3 pr-3">{{about.data.who}}</p>
                    </div>
                    <!-- End Who -->
                    <!-- Begin What -->
                    <div id="about-what" class="col-md-6" ng-style="animationStyle" style="visibility: hidden;">
                        <h3 class="text-uppercase font-weight-bold highlight-text-foreground font-fancy--2">What</h3>
                        <div class="card--border--bottom card--border----quadruple card--border--theme mt-2 mb-2 w-25"></div>
                        <p class="pl-3 pr-3">{{about.data.what}}</p>
                    </div>
                    <!-- End What -->
                    <!-- Begin When -->
                    <div id="about-when" class="col-md-6" ng-style="animationStyle" style="visibility: hidden;">
                        <h3 class="text-uppercase font-weight-bold highlight-text-foreground font-fancy--2">When</h3>
                        <div class="card--border--bottom card--border----quadruple card--border--theme mt-2 mb-2 w-25"></div>
                        <p class="pl-3 pr-3">{{about.data.when}}</p>
                    </div>
                    <!-- End When -->
                    <!-- Begin Where -->
                    <div id="about-where" class="col-md-6" ng-style="animationStyle" style="visibility: hidden;">
                        <h3 class="text-uppercase font-weight-bold highlight-text-foreground font-fancy--2">Where</h3>
                        <div class="card--border--bottom card--border----quadruple card--border--theme mt-2 mb-2 w-25"></div>
                        <p class="pl-3 pr-3">{{about.data.where}}</p>
                    </div>
                    <!-- End Where -->
                    <!-- Begin Why -->
                    <div id="about-why" class="col-md-6" ng-style="animationStyle" style="visibility: hidden;">
                        <h3 class="text-uppercase font-weight-bold highlight-text-foreground font-fancy--2">Why</h3>
                        <div class="card--border--bottom card--border----quadruple card--border--theme mt-2 mb-2 w-25"></div>
                        <p class="pl-3 pr-3">{{about.data.why}}</p>
                    </div>
                    <!-- End Why -->
                </div>
            </div>
            <!-- End Content Body -->
        </div>
        <!-- End Page Fully Loaded With No Errors -->
    </div>
    <!-- End Container -->
</section>
<!-- End About Page -->