<!-- Begin About Me Page -->
<section ng-controller="AboutController">
    <!-- Begin Container -->
    <div class="container">
        <!-- Begin Page Fully Loaded With Errors -->
        <div id="pageShow" class="collapse" ng-if="pageFullyLoaded && error.error">
            <div ng-controller="ErrorController" ng-init="init(error.title, error.status, error.message)">
                <div ng-include="'/modules/core/client/views/error.client.view.html'"></div>
            </div>
        </div>
        <!-- End Page Fully Loaded With Errors -->
        <!-- Begin Page Fully Loaded With No Errors -->
        <div id="pageShow" class="animated animation-delay--md fadeIn collapse" ng-if="pageFullyLoaded && !error.error">
            <!-- Begin Content Body -->
            <div class="card card--transparent card--border--none card-body">
                <!-- Begin Bio/Owner -->
                <div class="row">
                    <!-- Begin Bio -->
                    <div id="about-bio" class="col-md-6" ng-style="animationStyle" style="visibility: hidden;">
                        <span ng-bind-html="about.bio | trustHTML"></span>
                    </div>
                    <!-- End Bio -->
                    <!-- Begin Owner -->
                    <div id="about-owner" class="col-md-6" ng-style="animationStyle" style="visibility: hidden;">
                        <h4 class="text-capitalize">Owner</h4>
                        <h6 class="font-italic">{{about.owner.name}}</h6>
                        <img class="img-fluid img-thumbnail img-personal" ng-src="{{about.owner.img}}" title="{{about.owner.name}}" alt="{{about.owner.name}}" spinner-load />
                    </div>
                    <!-- End Owner -->
                </div>
                <!-- End Bio/Owner -->
            </div>
            <!-- End Content Body -->
        </div>
        <!-- End Page Fully Loaded With No Errors -->
    </div>
    <!-- End Container -->
</section>
<!-- End About Me Page -->