<!-- Begin Terms and Conditions Page -->
<section ng-controller="TermsController">
    <!-- Begin Container -->
    <div class="container">
        <!-- Begin Page Fully Loaded With Errors -->
        <div id="pageShow" class="collapse" ng-if="pageFullyLoaded && error.error">
            <div ng-controller="ErrorController" ng-init="init(error.title, error.status, error.message)">
                <div ng-include="'/modules/core/client/views/error.client.view.html'"></div>
            </div>
        </div>
        <!-- End Page Fully Loaded With Errors -->
        <!-- Begin Page Fully Loaded With No Errors -->
        <div id="pageShow" class="animated animation-delay--md fadeIn collapse" ng-if="pageFullyLoaded && !error.error">
            <!-- Begin Content Body -->
            <div class="card card--border--none card--radius--none card-body box-shadow--sm">
                <!-- Begin Body -->
                <div id="terms-body" class="col-md-12" ng-style="animationStyle" style="visibility: hidden;">
                    <h2 class="pt-3 pb-3 mb-0 font-weight-bold">Terms of Use</h2>
                    <p class="text-right">Effective as of: {{terms.data.effectiveDate}}</p>
                    <!-- Begin Terms of Use -->
                    <div>
                        <!-- Begin About -->
                        <h3 class="text-uppercase font-weight-bold">{{terms.data.about.title}}</h3>
                        <span ng-bind-html="terms.data.about.body | trustHTML"></span>
                        <!-- End About -->
                        <!-- Begin Using -->
                        <h3 class="text-uppercase font-weight-bold">{{terms.data.using.title}}</h3>
                        <span ng-bind-html="terms.data.using.body | trustHTML"></span>
                        <!-- End Using -->
                        <!-- Begin Credit Policy -->
                        <h3 class="text-uppercase font-weight-bold">{{terms.data.credit.title}}</h3>
                        <span ng-bind-html="terms.data.credit.body | trustHTML"></span>
                        <!-- End Credit Policy -->
                        <!-- Begin Materials -->
                        <h3 class="text-uppercase font-weight-bold">{{terms.data.materials.title}}</h3>
                        <span ng-bind-html="terms.data.materials.body | trustHTML"></span>
                        <!-- End Materials -->
                        <!-- Begin Content and Conduct -->
                        <h3 class="text-uppercase font-weight-bold">{{terms.data.conduct.title}}</h3>
                        <span ng-bind-html="terms.data.conduct.body | trustHTML"></span>
                        <!-- End Content and Conduct -->
                        <!-- Begin Alerts -->
                        <h3 class="text-uppercase font-weight-bold">{{terms.data.alerts.title}}</h3>
                        <span ng-bind-html="terms.data.alerts.body | trustHTML"></span>
                        <!-- End Alerts -->
                        <!-- Begin Disclaimer -->
                        <h3 class="text-uppercase font-weight-bold">{{terms.data.disclaimer.title}}</h3>
                        <span ng-bind-html="terms.data.disclaimer.body | trustHTML"></span>
                        <!-- End Disclaimer -->
                        <!-- Begin Limitation of Liability -->
                        <h3 class="text-uppercase font-weight-bold">{{terms.data.liability.title}}</h3>
                        <span ng-bind-html="terms.data.liability.body | trustHTML"></span>
                        <!-- End Limitation of Liability -->
                        <!-- Begin Third Party Links -->
                        <h3 class="text-uppercase font-weight-bold">{{terms.data.thirdPartyLinks.title}}</h3>
                        <span ng-bind-html="terms.data.thirdPartyLinks.body | trustHTML"></span>
                        <!-- End Third Party Links -->
                        <!-- Begin Additional Terms -->
                        <h3 class="text-uppercase font-weight-bold">{{terms.data.additionalTerms.title}}</h3>
                        <span ng-bind-html="terms.data.additionalTerms.body | trustHTML"></span>
                        <!-- End Additional Terms -->
                        <!-- Begin Privacy Policy -->
                        <h3 class="text-uppercase font-weight-bold">{{terms.data.privacyPolicy.title}}</h3>
                        <span ng-bind-html="terms.data.privacyPolicy.body | trustHTML"></span>
                        <!-- End Privacy Policy -->
                        <!-- Begin Copyright Policy -->
                        <h3 class="text-uppercase font-weight-bold">{{terms.data.copyright.title}}</h3>
                        <span ng-bind-html="terms.data.copyright.body | trustHTML"></span>
                        <!-- End Copyright Policy -->
                        <!-- Begin Vialoations -->
                        <h3 class="text-uppercase font-weight-bold">{{terms.data.violation.title}}</h3>
                        <span ng-bind-html="terms.data.violation.body | trustHTML"></span>
                        <!-- End Vialoations -->
                        <!-- Begin Changes -->
                        <h3 class="text-uppercase font-weight-bold">{{terms.data.changes.title}}</h3>
                        <span ng-bind-html="terms.data.changes.body | trustHTML"></span>
                        <!-- End Changes -->
                        <!-- Begin Governing Law -->
                        <h3 class="text-uppercase font-weight-bold">{{terms.data.governing.title}}</h3>
                        <span ng-bind-html="terms.data.governing.body | trustHTML"></span>
                        <!-- End Governing Law -->
                        <!-- Begin Dispute Resolution -->
                        <h3 class="text-uppercase font-weight-bold">{{terms.data.dispute.title}}</h3>
                        <span ng-bind-html="terms.data.dispute.body | trustHTML"></span>
                        <!-- End Dispute Resolution -->
                        <!-- Begin Waiver and Servability -->
                        <h3 class="text-uppercase font-weight-bold">{{terms.data.waiver.title}}</h3>
                        <span ng-bind-html="terms.data.waiver.body | trustHTML"></span>
                        <!-- End Waiver and Servability -->
                    </div>
                    <!-- End Terms of Use -->
                </div>
                <!-- End Body -->
            </div>
            <!-- End Content Body -->
        </div>
        <!-- End Page Fully Loaded With No Errors -->
    </div>
    <!-- End Container -->
</section>
<!-- End Terms and Conditions Page -->