<!-- Begin Trips Page -->
<section ng-controller="TripsController">
    <!-- Begin Container -->
    <div class="container">
        <!-- Begin Page Fully Loaded With Errors -->
        <div id="pageShow" class="collapse" ng-if="pageFullyLoaded && error.error">
            <div ng-controller="ErrorController" ng-init="init(error.title, error.status, error.message)">
                <div ng-include="'/modules/core/client/views/error.client.view.html'"></div>
            </div>
        </div>
        <!-- End Page Fully Loaded With Errors -->
        <!-- Begin Page Fully Loaded With No Errors -->
        <div id="pageShow" class="animated animation-delay--md fadeIn collapse" ng-if="pageFullyLoaded && !error.error">
            <!-- Begin Content Header -->
            <div class="jumbotron jumbotron-radius--none jumbotron-color--opacity-black jumbotron-fixed-height text-center mb-0">
                <h1 class="font-fancy--2 text-white" ng-class="{'mb-0': trips.pageSubHeader.length == 0}">{{trips.pageHeader}}</h1>
                <h5 class="mb-0 text-white">{{trips.pageSubHeader}}</h5>
            </div>
            <!-- End Content Header -->
            <!-- Begin Content Body -->
            <div class="card card--border--none card--radius--none card-body box-shadow--sm card-min-height">
                <!-- Begin Trips -->
                <div id="trips-list" class="col-md-6" ng-style="animationStyle" style="visibility: hidden;">
                    <!-- Begin Upcoming Trips -->
                    <div ng-if="trips.trips.length > 0">
                        
                    </div>
                    <!-- End Upcoming Trips -->
                    <!-- Begin No Trips -->
                    <div ng-if="trips.trips.length == 0">
                        <p>Well this is akward... it doesn't look like you have any upcoming trips.</p>
                    </div>
                    <!-- End No Trips -->
                </div>
                <!-- End Trips -->
            </div>
            <!-- End Content Body -->
        </div>
        <!-- End Page Fully Loaded With No Errors -->
    </div>
    <!-- End Container -->
</section>
<!-- End Trips Page -->