<!-- Begin Warning Dialog -->
<section>
    <!-- Begin Title Container -->
    <div class="container">
        <!-- Begin Warning Title -->
        <h3 class="">{{warningHead}}</h3>
        <!-- Begin Warning Title -->
    </div>
    <!-- End Title Container -->
    <!-- Begin Body Container -->
    <div class="container">
        <!-- Begin Warning Body -->
        <p>{{warningBody}}</p>
        <!-- Begin Warning Body -->
        <!-- Begin Buttons -->
        <div class="row align-items-center text-center">
            <!-- Begin No/Yes Buttons -->
            <div class="col text-left">
                <a href="javascript:;" class="h4 decoration--never" ng-click="cancel()">No<i class="fa fa-times ml-2" aria-hidden="true"></i></a>
            </div>
            <div class="col text-right">
                <a href="javascript:;" class="h4 decoration--never highlight--danger" ng-click="submit()">Yes<i class="fa fa-check ml-2" aria-hidden="true"></i></a>
            </div>
            <!-- Begin No/Yes Buttons -->
        </div>
        <!-- End Buttons -->
    </div>
    <!-- End Body Container -->
</section>
<!-- End Warning Dialog -->