<!-- Begin Contact Page -->
<section ng-controller="ContactController">
    <!-- Begin Container -->
    <div class="container">
        <!-- Begin Page Fully Loaded With Errors -->
        <div id="pageShow" class="collapse" ng-if="pageFullyLoaded && error.error">
            <div ng-controller="ErrorController" ng-init="init(error.title, error.status, error.message)">
                <div ng-include="'/modules/core/client/views/error.client.view.html'"></div>
            </div>
        </div>
        <!-- End Page Fully Loaded With Errors -->
        <!-- Begin Page Fully Loaded With No Errors -->
        <div id="pageShow" class="animated animation-delay--md fadeIn collapse" ng-if="pageFullyLoaded && !error.error">
            <!-- Begin Content Body -->
            <div class="card card--transparent card--border--none card-body">
                <!-- Begin Contact Form -->
                <div id="contact-form" class="collapse show">
                    <div id="contact-form-form" ng-style="animationStyle" style="visibility: hidden;">
                        <div style="padding-bottom: 24px;" ng-if="!contactForm.errors.isError"></div>
                        <div class="pl-3 pr-3" ng-if="contactForm.errors.isError">
                            <span style="color: red;">{{contactForm.errors.errorMessage}}</span>
                        </div>
                        <!-- Begin Contact Form -->
                        <form class="form-group" ng-submit="sendEmail()">
                            <!-- Begin Form Row -->
                            <div class="form-row ml-0 mr-0">
                                <!-- Begin Form Column 1 -->
                                <div class="form-group col-md-4 mb-0 pl-0 pr-0">
                                    <!-- Begin Name -->
                                    <div class="form-group mb-1">
                                        <div class="input-group mb-1" ng-class="{'has-danger': contactForm.errors.fullName}">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                            </span>
                                            <input class="form-control form-control-danger" type="text" name="fullName" placeholder="Full Name" id="full-name" ng-model="contactForm.inputs.fullName" ng-focus="viewFocusEnter(contactForm.views.fullName)" ng-blur="viewFocusLeave(contactForm.views.fullName)" ng-change="checkTextLength(contactForm.views.fullName)" ng-disabled="emailInTransit">
                                        </div>
                                    </div>
                                    <!-- End Name -->
                                    <!-- Begin Email -->
                                    <div class="form-group mb-1">
                                        <div class="input-group" ng-class="{'has-danger': contactForm.errors.email}">
                                            <span class="input-group-addon">
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                            </span>
                                            <input class="form-control form-control-danger" type="email" name="email" placeholder="example@example.com" id="email" ng-model="contactForm.inputs.email" ng-focus="viewFocusEnter(contactForm.views.email)" ng-blur="viewFocusLeave(contactForm.views.email)" ng-disabled="emailInTransit">
                                        </div>
                                    </div>
                                    <!-- End Email -->
                                    <!-- Begin Subject -->
                                    <div class="form-group mb-1">
                                        <div class="input-group" ng-class="{'has-danger': contactForm.errors.subject}">
                                            <span class="input-group-addon">
                                                <i class="fa fa-book" aria-hidden="true"></i>
                                            </span>
                                            <input class="form-control form-control-danger" type="text" name="subject" placeholder="Subject" id="subject" ng-model="contactForm.inputs.subject" ng-focus="viewFocusEnter(contactForm.views.subject)" ng-blur="viewFocusLeave(contactForm.views.subject)" ng-change="checkTextLength(contactForm.views.subject)" ng-disabled="emailInTransit">
                                        </div>
                                    </div>
                                    <!-- End Subject -->
                                </div>
                                <!-- End Form Column 1 -->
                                <!-- Begin Form Column 2 -->
                                <div class="form-group col-md-4 mb-0 pl-0 pr-0">
                                    <!-- Begin Message -->
                                    <div class="form-group mb-0" ng-class="{'ml-3': $root.isDeviceWidthLargerThan(425)}">
                                        <div class="input-group" ng-class="{'has-danger': contactForm.errors.message}">
                                            <textarea class="form-control" id="message" rows="5" placeholder="Tell us, what can we help you with?" ng-model="contactForm.inputs.message" ng-focus="viewFocusEnter(contactForm.views.message)" ng-blur="viewFocusLeave(contactForm.views.message)" ng-change="checkTextLength(contactForm.views.message)" ng-disabled="emailInTransit"></textarea>
                                        </div>
                                        <label class="col col-form-label pr-0 pb-0 form-character-count">{{contactForm.inputs.message.length}}/{{contactForm.maxLength.message}}</label>
                                    </div>
                                    <!-- End Message -->
                                </div>
                                <!-- End Form Column 2 -->
                            </div>
                            <!-- End Form Row -->
                            <!-- Begin Submit -->
                            <div class="form-row ml-0 mr-0">
                                <button type="submit" class="btn btn-theme-primary" ng-class="{'w-100': $root.isDeviceWidthSmallerThan(426)}" ng-disabled="emailInTransit || contactForm.errors.isError">Submit</button>
                            </div>
                            <!-- End Submit -->
                        </form>
                        <!-- End Contact Form -->
                    </div>
                </div>
                <!-- End Contact Form -->
                <!-- Begin Thank You Note -->
                <div id="thank-you-message" class="collapse animated animation-delay--sm fadeIn">
                    <div class="col-md-6 offset-md-3">
                        <h4 class="text-capitalize font-weight-bold">Thank you, <span class="font-italic">{{contactForm.inputs.fullName}}</span></h4>
                        <p>I really appreciate your comment! I'll get back to you as soon as I can!</p>
                    </div>
                </div>
                <!-- End Thank You Note -->
                <!-- Begin Google Map -->
                <div id="contact-map" class="mt-3" ng-style="animationStyle" style="visibility: hidden;">
                    <div id="google-map" class="google-map"></div>
                </div>
                <!-- End Google Map -->
            </div>
            <!-- End Content Body -->
        </div>
        <!-- End Page Fully Loaded With No Errors -->
    </div>
    <!-- End Container -->
</section>
<!-- End Contact Page -->