<!-- Begin Header -->
<section ng-controller="HeaderController">
    <!-- Begin Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-shifted--down navbar-toggleable-md navbar-fixed-size navbar-theme-primary" ng-if="$root.showHeader">
        <!-- Begin Navigation Bar Branding -->
        <a class="navbar-brand decoration--never d-flex align-items-center" href="/">
            <svg class="mr-2" width="48" height="48" viewBox="0 0 612 612" xmlns="http://www.w3.org/2000/svg" focusable="false"><title>Bootstrap</title><path fill="currentColor" d="M510 8a94.3 94.3 0 0 1 94 94v408a94.3 94.3 0 0 1-94 94H102a94.3 94.3 0 0 1-94-94V102a94.3 94.3 0 0 1 94-94h408m0-8H102C45.9 0 0 45.9 0 102v408c0 56.1 45.9 102 102 102h408c56.1 0 102-45.9 102-102V102C612 45.9 566.1 0 510 0z"></path><path fill="currentColor" d="M196.77 471.5V154.43h124.15c54.27 0 91 31.64 91 79.1 0 33-24.17 63.72-54.71 69.21v1.76c43.07 5.49 70.75 35.82 70.75 78 0 55.81-40 89-107.45 89zm39.55-180.4h63.28c46.8 0 72.29-18.68 72.29-53 0-31.42-21.53-48.78-60-48.78h-75.57zm78.22 145.46c47.68 0 72.73-19.34 72.73-56s-25.93-55.37-76.46-55.37h-74.49v111.4z"></path></svg>
            <span class="font-fancy--1 mb-0 responsive-text--lg responsive-text--dont-change-size" style="padding-top: 12.5px; padding-bottom: 12.5px;">{{header.headliner}}</span>
        </a>
        <!-- End Navigation Bar Branding -->
        <!-- Begin Toggle -->
        <button class="navbar-toggler navbar-toggler--custom navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- End Toggle -->
        <!-- Begin Navigation Bar -->
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <!-- Begin Primary Navigation -->
            <div class="navbar-nav mr-auto">
                <div class="nav-item" ng-class="{'dropdown': navigation.dropdown !== undefined}" ng-repeat="navigation in header.navigation">
                    <!-- Begin Not Dropdown -->
                    <a class="font-fancy--2 nav-link decoration--never h5 mb-0" ng-class="{'active': $root.isActive(navigation.pageLink)}" ng-href="/{{navigation.pageLink}}" ng-if="navigation.dropdown === undefined"><span ng-bind-html="navigation.title | trustHTML"></span></a>
                    <!-- End Not Dropdown -->
                    <!-- Begin Dropdown -->
                    <a role="button" id="navbarDropdownMenuLink{{$index}}" class="font-fancy--2 nav-link decoration--never dropdown-toggle h5 mb-0" ng-class="{'active': $root.isActive(navigation.pageLink)}" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-if="navigation.dropdown !== undefined">
                        <span role="button" ng-bind-html="navigation.title | trustHTML"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink{{$index}}" ng-if="navigation.dropdown !== undefined">
                        <!-- Begin Initial Dropdown Item (usually the dropdown home) -->
                        <a class="font-fancy--2 dropdown-item decoration--never" ng-class="{'active': $root.isActive(navigation.pageLink)}" ng-href="/{{navigation.pageLink}}" ng-repeat="dropdown in navigation.dropdown" ng-if="dropdown.home"><span ng-bind-html="dropdown.title | trustHTML"></span></a>
                        <!-- End Initial Dropdown Item -->
                        <!-- Begin All Dropdown Items -->
                        <a class="font-fancy--2 dropdown-item decoration--never" ng-class="{'active': $root.isActive(navigation.pageLink + '/' + dropdown.pageLink)}" ng-href="/{{navigation.pageLink}}/{{dropdown.pageLink}}" ng-repeat="dropdown in navigation.dropdown" ng-if="!dropdown.home"><span ng-bind-html="dropdown.title | trustHTML"></span></a>
                        <!-- End All Dropdown Items -->
                    </div>
                    <!-- End Dropdown -->
                </div>
            </div>
            <!-- End Primary Navigation -->
            <!-- Begin Secondary Navigation -->
            <div class="navbar-nav">
                <div class="nav-item" ng-class="{'dropdown': navigation.dropdown !== undefined || navigation.login}" ng-repeat="navigation in header.secondaryNavigation">
                    <!-- Begin Non Dropdown + Not Login -->
                    <a class="font-fancy--2 nav-link decoration--never h5 mb-0" ng-class="{'active': $root.isActive(navigation.pageLink)}" ng-href="/{{navigation.pageLink}}" ng-if="navigation.dropdown === undefined && !navigation.login"><span ng-bind-html="navigation.title | trustHTML"></span></a>
                    <!-- End Non Dropdown + Not Login -->
                    <!-- Begin Dropdown -->
                    <a role="button" id="navbarDropdownMenuLink{{$index}}" class="font-fancy--2 nav-link decoration--never dropdown-toggle h5 mb-0" ng-class="{'active': $root.isActive(navigation.pageLink) || navigation.pageLink == 'account' || navigation.pageLink == 'admin'}" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-if="navigation.dropdown !== undefined && !navigation.login">
                        <span role="button" ng-bind-html="navigation.title | trustHTML"></span>
                    </a>
                    <div class="dropdown-menu" ng-class="{'dropdown-menu-right': $index == header.secondaryNavigation.length - 1}" aria-labelledby="navbarDropdownMenuLink{{$index}}" ng-if="navigation.dropdown !== undefined && !navigation.login">
                        <!-- Begin Initial Dropdown Item (usually the dropdown home) -->
                        <a class="font-fancy--2 dropdown-item decoration--never" ng-class="{'active': $root.isActive(navigation.pageLink)}" ng-href="/{{navigation.pageLink}}" ng-repeat="dropdown in navigation.dropdown" ng-if="dropdown.home"><span ng-bind-html="dropdown.title | trustHTML"></span></a>
                        <!-- End Initial Dropdown Item -->
                        <!-- Begin All Dropdown Items -->
                        <a class="font-fancy--2 dropdown-item decoration--never" ng-class="{'active': $root.isActive(navigation.pageLink + '/' + dropdown.pageLink)}" ng-href="{{dropdown.logout ? '/' + dropdown.pageLink : '/' + navigation.pageLink + '/' + dropdown.pageLink}}" ng-repeat="dropdown in navigation.dropdown" ng-if="!dropdown.home"><span ng-bind-html="dropdown.title | trustHTML"></span></a>
                        <!-- End All Dropdown Items -->
                    </div>
                    <!-- End Dropdown -->
                    <!-- Begin Dropdown + Login -->
                    <a role="button" id="navbarDropdownLogin" class="font-fancy--2 nav-link decoration--never dropdown-toggle h5 mb-0 active" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-if="navigation.login">
                        <span role="button" ng-bind-html="navigation.title | trustHTML"></span>
                    </a>
                    <div class="dropdown-menu form-login-dropdown" aria-labelledby="navbarDropdownLogin" ng-if="navigation.login">
                        <section ng-controller="LoginController">
                            <!-- Begin Login Form -->
                            <div class="col" ng-if="!formInTransit">
                                <div ng-if="loginForm.errors.generic.isError">
                                    <span style="color: red;">{{loginForm.errors.generic.message}}</span>
                                </div>
                                <form class="form-group mb-0" ng-submit="login()" novalidate>
                                    <!-- Begin Username -->
                                    <div class="form-group">
                                        <label class="col-form-label" for="email">Username <span style="color: red;">*</span></label>
                                        <input class="form-control" ng-class="{'is-invalid': loginForm.errors.email.isError}" type="text" name="email" placeholder="Username" id="email" ng-model="loginForm.inputs.email" ng-disabled="formInTransit" required>
                                        <small class="invalid-feedback">{{loginForm.errors.email.message}}</small>
                                    </div>
                                    <!-- End Username -->
                                    <!-- Begin Password -->
                                    <div class="form-group">
                                        <label class="col-form-label" for="password">Password <span style="color: red;">*</span></label>
                                        <input class="form-control" ng-class="{'is-invalid': loginForm.errors.password.isError}" type="password" name="password" placeholder="Password" id="password" ng-model="loginForm.inputs.password" ng-disabled="formInTransit" required>
                                        <small class="invalid-feedback">{{loginForm.errors.password.message}}</small>
                                    </div>
                                    <!-- End Password -->
                                    <!-- Begin Remember Me -->
                                    <div class="form-group mb-2">
                                        <div class="form-check text-right">
                                            <label class="col-form-label" for="rememberMe">Remember Me</label>
                                            <label class="form-check-label">
                                                <input class="form-check-input" name="rememberMe" type="checkbox" value="" ng-model="loginForm.inputs.rememberMe" ng-disabled="formInTransit">
                                            </label>
                                        </div>
                                    </div>
                                    <!-- End Remember Me -->
                                    <!-- Begin Sign Up/Login Button -->
                                    <div class="row mb-2">
                                        <div class="col text-left">
                                            <p class="mb-0">Not a member?</p>
                                            <a class="decoration--never decorate--highlight highlight-text-foreground font-weight-bold" href="/signup" ng-disabled="formInTransit">Sign Up</a>
                                        </div>
                                        <div class="col text-right">
                                            <button type="submit" class="btn btn-theme-primary btn-cursor-pointer" ng-class="{'w-100': $root.isDeviceWidthSmallerThan(426)}" ng-disabled="formInTransit">Login</button>
                                        </div>
                                    </div>
                                    <!-- End Sign Up/Login Button -->
                                    <!-- Begin Forgot Password -->
                                    <div class="row">
                                        <div class="col text-right">
                                            <a class="decoration--never" href="/forgotpassword" ng-disabled="formInTransit">Forgot Password?</a>
                                        </div>
                                    </div>
                                    <!-- End Forgot Password -->
                                </form>
                            </div>
                            <!-- End Login Form -->
                            <!-- Begin Loging In Spinner -->
                            <div class="col-auto d-flex align-items-center text-center" style="height: 218px;" ng-if="formInTransit">
                                <div class="col mx-auto d-block">
                                    <i class="fa fa-spinner fa-3x fa-spin"></i>
                                </div>
                            </div>
                            <!-- End Loging In Spinner -->
                        </div> 
                    </div>
                    <!-- End Dropdown + Login -->
                </div>
            </div>
            <!-- End Secondary Navigation -->
        </div>
        <!-- End Navigation Bar -->
    </nav>
    <!-- End Navigation -->
</section>
<!-- End Header -->