<!-- Begin Header -->
<section ng-controller="HeaderController">
    <!-- Begin Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-shifted--down navbar-toggleable-md navbar-inverse bg-inverse navbar-fixed-size box-shadow--sm" ng-if="$root.showHeader">
        <!-- Begin Navigation Bar Branding -->
        <a class="navbar-brand decoration--never" href="/">
            <h1 class="font-fancy--1 mb-0 responsive-text--lg" style="padding-top: 12.5px; padding-bottom: 12.5px;">{{header.headliner}}</h1>
        </a>
        <!-- End Navigation Bar Branding -->
        <!-- Begin Toggle -->
        <button class="navbar-toggler navbar-toggler--custom navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- End Toggle -->
        <!-- Begin Navigation Bar -->
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <div class="navbar-nav">
                <div class="nav-item" ng-class="{'dropdown': navigation.dropdown !== undefined}" ng-repeat="navigation in header.navigation">
                    <!-- Begin Not Dropdown -->
                    <a class="font-fancy--2 nav-link decoration--never h5 mb-0" ng-class="{'active': isActive(navigation.pageLink)}" ng-href="/{{navigation.pageLink}}" ng-if="navigation.dropdown === undefined"><span ng-bind-html="navigation.title | trustHTML"></span></a>
                    <!-- End Not Dropdown -->
                    <!-- Begin Dropdown -->
                    <a role="button" id="navbarDropdownMenuLink{{$index}}" class="font-fancy--2 nav-link decoration--never dropdown-toggle h5 mb-0" ng-class="{'active': isActive(navigation.pageLink)}" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-if="navigation.dropdown !== undefined">
                        <span role="button" ng-bind-html="navigation.title | trustHTML"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink{{$index}}" ng-if="navigation.dropdown !== undefined">
                        <!-- Begin Initial Dropdown Item (usually the dropdown home) -->
                        <a class="font-fancy--2 dropdown-item decoration--never" ng-class="{'active': isActive(navigation.pageLink)}" ng-href="/{{navigation.pageLink}}" ng-repeat="dropdown in navigation.dropdown" ng-if="dropdown.home"><span ng-bind-html="dropdown.title | trustHTML"></span></a>
                        <!-- End Initial Dropdown Item -->
                        <!-- Begin All Dropdown Items -->
                        <a class="font-fancy--2 dropdown-item decoration--never" ng-class="{'active': isActive(navigation.pageLink + '/' + dropdown.pageLink)}" ng-href="/{{navigation.pageLink}}/{{dropdown.pageLink}}" ng-repeat="dropdown in navigation.dropdown" ng-if="!dropdown.home"><span ng-bind-html="dropdown.title | trustHTML"></span></a>
                        <!-- End All Dropdown Items -->
                    </div>
                    <!-- End Dropdown -->
                </div>
            </div>
        </div>
        <!-- End Navigation Bar -->
    </nav>
    <!-- End Navigation -->
</section>
<!-- End Header -->