<!-- Begin Change Password Page -->
<section ng-controller="ChangePasswordController">
    <!-- Begin Container -->
    <div class="container">
        <!-- Begin Page Fully Loaded With Errors -->
        <div id="pageShow" class="collapse" ng-if="pageFullyLoaded && error.error">
            <div ng-controller="ErrorController" ng-init="init(error.title, error.status, error.message)">
                <div ng-include="'/modules/core/client/views/error.client.view.html'"></div>
            </div>
        </div>
        <!-- End Page Fully Loaded With Errors -->
        <!-- Begin Page Fully Loaded With No Errors -->
        <div id="pageShow" class="animated animation-delay--md fadeIn collapse" ng-if="pageFullyLoaded && !error.error">
            <!-- Begin Content Body -->
            <div class="card card--transparent card--border--none card-body">
                
            </div>
            <!-- End Content Body -->
        </div>
        <!-- End Page Fully Loaded With No Errors -->
    </div>
    <!-- End Container -->
</section>
<!-- End Change Password Page -->