<!-- Begin Change Password Page -->
<section ng-controller="ChangePasswordController">
    <!-- Begin Container -->
    <div class="card-body">
        <!-- Begin Change Password Form -->
        <div class="col-md-10 mx-auto">
            <p ng-if="lastPasswordChanged.date">Last password was changed <span class="font-weight-bold">{{lastPasswordChanged.timeAgo}}</span> on <span class="font-weight-bold">{{lastPasswordChanged.format}}</span></p>
            <div ng-if="changePasswordForm.errors.generic.isError">
                <span style="color: red;">{{changePasswordForm.errors.generic.message}}</span>
            </div>
            <!-- Begin Change Password Form -->
            <form class="form-group mb-0" ng-submit="updatePassword()" novalidate>
                <!-- Begin Old Password -->
                <div class="form-group">
                    <label class="col-form-label" for="old">Old Password <span style="color: red;">*</span></label>
                    <input class="form-control" ng-class="{'is-invalid': changePasswordForm.errors.old.isError}" type="password" name="old" placeholder="Old Password" id="old" ng-model="changePasswordForm.inputs.old" ng-disabled="formInTransit" required>
                    <small class="invalid-feedback">{{changePasswordForm.errors.old.message}}</small>
                </div>
                <!-- End Old Password -->
                <!-- Begin New Password -->
                <div class="form-group">
                    <label class="col-form-label" for="new">New Password <span style="color: red;">*</span></label>
                    <input class="form-control" ng-class="{'is-invalid': changePasswordForm.errors.new.isError}" type="password" name="new" placeholder="New Password" id="new" ng-model="changePasswordForm.inputs.new" ng-disabled="formInTransit" required>
                    <small class="invalid-feedback">{{changePasswordForm.errors.new.message}}</small>
                </div>
                <!-- End New Password -->
                <!-- Begin Confirm Password -->
                <div class="form-group">
                    <label class="col-form-label" for="confirm">Confirm Password <span style="color: red;">*</span></label>
                    <input class="form-control" ng-class="{'is-invalid': changePasswordForm.errors.confirm.isError}" type="password" name="confirm" placeholder="Confirm Password" id="confirm" ng-model="changePasswordForm.inputs.confirm" ng-disabled="formInTransit" required>
                    <small class="invalid-feedback">{{changePasswordForm.errors.confirm.message}}</small>
                </div>
                <!-- End Confirm Password -->
                <!-- Begin Change Password Button -->
                <div class="row mb-2">
                    <div class="col text-left">
                        <button type="submit" class="btn btn-theme-primary btn-cursor-pointer" ng-class="{'w-100': $root.isDeviceWidthSmallerThan(426)}" ng-disabled="formInTransit">Change Password</button>
                    </div>
                </div>
                <!-- End Change Password Button -->
            </form>
            <!-- End Change Password Form -->
        </div>
        <!-- End Change Password Form -->
    </div>
    <!-- End Container -->
</section>
<!-- End Change Password Page -->