<!-- Begin Change Password Page -->
<section ng-controller="ChangePasswordController">
    <!-- Begin Container -->
    <div class="container-fluid">
        <!-- Begin Change Password Form -->
        <div class="col-md-10 mx-auto pb-4">
            <div style="padding-bottom: 24px;" ng-if="!changePasswordForm.errors.isError"></div>
            <div ng-if="changePasswordForm.errors.isError">
                <span style="color: red;">{{changePasswordForm.errors.errorMessage}}</span>
            </div>
            <!-- Begin Change Password Form -->
            <form class="form-group mb-0" ng-submit="updatePassword()">
                <!-- Begin Old Password -->
                <div class="form-group">
                    <label class="col-form-label" for="old">Old Password <span style="color: red;">*</span></label>
                    <div class="input-group" ng-class="{'has-danger': changePasswordForm.errors.old}">
                        <span class="input-group-addon">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                        <input class="form-control form-control-danger" type="password" name="old" placeholder="Old Password" id="old" ng-model="changePasswordForm.inputs.old" ng-focus="viewFocusEnter(changePasswordForm.views.old)" ng-blur="viewFocusLeave(changePasswordForm.views.old)" ng-disabled="formInTransit">
                    </div>
                </div>
                <!-- End Old Password -->
                <!-- Begin New Password -->
                <div class="form-group">
                    <label class="col-form-label" for="new">New Password <span style="color: red;">*</span></label>
                    <div class="input-group" ng-class="{'has-danger': changePasswordForm.errors.new}">
                        <span class="input-group-addon">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                        <input class="form-control form-control-danger" type="password" name="new" placeholder="New Password" id="new" ng-model="changePasswordForm.inputs.new" ng-focus="viewFocusEnter(changePasswordForm.views.new)" ng-blur="viewFocusLeave(changePasswordForm.views.new)" ng-disabled="formInTransit">
                    </div>
                </div>
                <!-- End New Password -->
                <!-- Begin Confirm Password -->
                <div class="form-group">
                    <label class="col-form-label" for="confirm">Confirm Password <span style="color: red;">*</span></label>
                    <div class="input-group" ng-class="{'has-danger': changePasswordForm.errors.confirm}">
                        <span class="input-group-addon">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                        <input class="form-control form-control-danger" type="password" name="confirm" placeholder="Confirm Password" id="confirm" ng-model="changePasswordForm.inputs.confirm" ng-focus="viewFocusEnter(changePasswordForm.views.confirm)" ng-blur="viewFocusLeave(changePasswordForm.views.confirm)" ng-disabled="formInTransit">
                    </div>
                </div>
                <!-- End Confirm Password -->
                <!-- Begin Change Password Button -->
                <div class="row mb-2">
                    <div class="col text-left">
                        <button type="submit" class="btn btn-theme-primary" style="cursor: pointer;" ng-class="{'w-100': $root.isDeviceWidthSmallerThan(426)}" ng-disabled="formInTransit || changePasswordForm.errors.isError">Change Password</button>
                    </div>
                </div>
                <!-- End Change Password Button -->
            </form>
            <!-- End Change Password Form -->
        </div>
        <!-- End Change Password Form -->
    </div>
    <!-- End Container -->
</section>
<!-- End Change Password Page -->