<!-- Begin Edit Profile Page -->
<section ng-controller="EditProfileController">
    <!-- Begin Container -->
    <div class="card-body">
        <!-- Begin Profile Form -->
        <div class="col-md-10 mx-auto">
            <div ng-if="profileForm.errors.generic.isError">
                <span style="color: red;">{{profileForm.errors.generic.message}}</span>
            </div>
            <!-- Begin Profile Form -->
            <form class="form-group mb-0" ng-submit="updateProfile()" novalidate>
                <!-- Begin First Name -->
                <div class="form-group">
                    <label class="col-form-label" for="first">First Name <span style="color: red;">*</span></label>
                    <input class="form-control" ng-class="{'is-invalid': profileForm.errors.first.isError}" type="text" name="first" placeholder="First Name" id="first" ng-model="profileForm.inputs.first" ng-disabled="formInTransit" required>
                    <small class="invalid-feedback">{{profileForm.errors.first.message}}</small>
                </div>
                <!-- End First Name -->
                <!-- Begin Last Name -->
                <div class="form-group">
                    <label class="col-form-label" for="last">Last Name <span style="color: red;">*</span></label>
                    <input class="form-control" ng-class="{'is-invalid': profileForm.errors.last.isError}" type="text" name="last" placeholder="Last Name" id="last" ng-model="profileForm.inputs.last" ng-disabled="formInTransit" required>
                    <small class="invalid-feedback">{{profileForm.errors.last.message}}</small>
                </div>
                <!-- End Last Name -->
                <!-- Begin Sex -->
                <div class="form-group">
                    <label class="col-form-label" for="sexSelect">Select your sex <span style="color: red;">*</span></label>                        
                    <select id="sexSelect" ng-model="sexOptions.selected" class="form-control" ng-class="{'is-invalid': profileForm.errors.sex.isError}" ng-disabled="formInTransit" required>
                        <option ng-repeat="s in sexOptions.options">{{s}}</option>
                    </select>
                    <small class="invalid-feedback">{{profileForm.errors.sex.message}}</small>
                </div>
                <!-- End Sex -->
                <!-- Begin Phone Number -->
                <div class="form-group">
                    <label class="col-form-label" for="phone">Phone Number <span style="color: red;">*</span></label>
                    <input class="form-control" ng-class="{'is-invalid': profileForm.errors.phone.isError}" type="phone" name="phone" placeholder="555-555-5555" id="phone" ng-model="profileForm.inputs.phone" ng-disabled="formInTransit" required>
                    <small class="invalid-feedback">{{profileForm.errors.phone.message}}</small>
                </div>
                <!-- End Phone Number -->
                <!-- Begin Email -->
                <div class="form-group">
                    <label class="col-form-label" for="email">Email <span style="color: red;">*</span></label>
                    <input class="form-control" ng-class="{'is-invalid': profileForm.errors.email.isError}" type="email" name="email" placeholder="example@example.com" id="email" ng-model="profileForm.inputs.email" ng-disabled="formInTransit" required>
                    <small class="invalid-feedback">{{profileForm.errors.email.message}}</small>
                </div>
                <!-- End Email -->
                <!-- Begin Save Button -->
                <div class="row mb-2">
                    <div class="col text-left">
                        <button type="submit" class="btn btn-theme-primary btn-cursor-pointer" ng-class="{'w-100': $root.isDeviceWidthSmallerThan(426)}" ng-disabled="formInTransit">Save</button>
                    </div>
                </div>
                <!-- End Save Button -->
            </form>
            <!-- End Profile Form -->
        </div>
        <!-- End Profile Form -->
    </div>
    <!-- End Container -->
</section>
<!-- End Edit Profile Page -->