<!-- Begin Hub Page -->
<section ng-controller="HubController">
    <!-- Begin Container -->
    <div class="card-body">
        <!-- Begin Hub List -->
        <div class="col-md-10 mx-auto">
            <!-- Begin Main Hub -->
            <div ng-if="mainHub">
                <!-- Begin Title -->
                <div class="row mb-2">
                    <div class="col">
                        <h3 class="font-weight-bold mb-0">Your Main Hub</h3>
                        <small>(The hub you want to visit the most)</small>
                    </div>
                </div>
                <!-- End Title -->
                <!-- Begin Location -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-body card--light-light">
                            <span class="d-block text-right" style="margin-top: -15px; margin-right: -5px;"><i class="fa fa-times text-danger btn-cursor-pointer" aria-hidden="true" ng-click="removeMainHub(mainHub)"></i></span>
                            <h4 class="font-weight-bold">{{mainHub.name}}</h4>
                            <p class="mb-0">Airport: <span class="font-weight-bold">{{mainHub.iata}}</span></p>
                            <p>City: <span class="font-weight-bold">{{mainHub.city}}</span></p>
                        </div>
                    </div>
                </div>
                <!-- End Location -->
            </div>
            <!-- End Main Hub -->
            <!-- Begin Hubs -->
            <div class="row mt-3" ng-if="hub.data.hubs.length > 0">
                <!-- Begin Title -->
                <div class="col-md-6">
                    <h3 class="font-weight-bold mb-0">Your Hubs</h3>
                    <small>(Max: {{hub.data.maxHubs}})</small>
                </div>
                <!-- End Title -->
                <!-- Begin Add -->
                <div class="col-md-6 text-right">
                    <button class="btn btn-theme-primary btn-cursor-pointer" ng-click="addHub()" ng-disabled="hub.data.hubs.length >= hub.data.maxHubs">Add Hub</button>
                </div>
                <!-- End Add -->
            </div>
            <div class="row" ng-if="hub.data.hubs.length > 0">
                <div class="col-md-6 mt-2"  ng-class="{'mt-3': $index == 0 || $index == 1 }" ng-repeat="tmpHub in hub.data.hubs track by $index">
                    <div class="card card-body card--light-light">
                        <span class="d-block text-right" style="margin-top: -15px; margin-right: -5px;"><i class="fa fa-times text-danger btn-cursor-pointer" aria-hidden="true" ng-click="deleteHub($index)"></i></span>
                        <p class="mb-0 font-weight-bold">{{tmpHub.name}}</p>
                        <p class="mb-0">Airport: <span class="font-weight-bold">{{tmpHub.iata}}</span></p>
                        <p>City: <span class="font-weight-bold">{{tmpHub.city}}</span></p>
                        <button class="btn btn-theme-primary btn-cursor-pointer w-100" ng-click="editHub($index)">Edit</button>
                    </div>
                </div>
            </div>
            <!-- End Hubs -->
            <!-- Begin No Hubs -->
            <div class="mt-3" ng-if="(!hub.data.hubs || hub.data.hubs.length == 0) && hub.data.tierId && hub.data.subscribed">
                <p>Looks like you don't have any hubs. Would you like to add one? Based on your membership, you're alloted up to <span class="font-weight-bold">{{hub.data.maxHubs}}</span>.</p>
                <button class="btn btn-theme-primary btn-cursor-pointer" ng-click="addHub()">Add Hub</button>
            </div>
            <!-- End No Hubs -->
            <!-- Begin No Subscription -->
            <div class="mt-3" ng-if="!hub.data.subscribed">
                <p>Looks like you don't have an active membership. Let's go to the <a class="decoration--underline btn-cursor-pointer" ng-click="navigateToMembershipPage('account/membership')">membership page</a> and see what options there are.</p>
            </div>
            <!-- End No Subscription -->
        </div>
        <!-- End Hub List -->
    </div>
    <!-- End Container -->
</section>
<!-- End Hub Page -->