<!-- Begin Notifications Page -->
<section ng-controller="NotificationsController">
    <!-- Begin Container -->
    <div class="card-body">
        <!-- Begin Notifications Form -->
        <div class="col-md-10 mx-auto">
            <!-- Begin Notifications Form -->
            <form class="form-group mb-0" ng-submit="updateNotifications()">
                <!-- Begin News -->
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" ng-model="notificationsForm.inputs.news" ng-disabled="formInTransit">
                            News Emails
                        </label>
                    </div>
                </div>
                <!-- End News -->
                <!-- Begin Reminder -->
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" ng-model="notificationsForm.inputs.reminderEmail" ng-disabled="formInTransit">
                            Reminder Emails
                        </label>
                    </div>
                </div>
                <!-- End Reminder -->
                <!-- Begin Research -->
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" ng-model="notificationsForm.inputs.research" ng-disabled="formInTransit">
                            Research Emails
                        </label>
                    </div>
                </div>
                <!-- End Research -->
                <!-- Begin SMS -->
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" ng-model="notificationsForm.inputs.reminderSMS" ng-disabled="formInTransit">
                            Text (SMS) Messages
                        </label>
                    </div>
                </div>
                <!-- End SMS -->
                <!-- Begin Save Button -->
                <div class="row mb-2">
                    <div class="col text-left">
                        <button type="submit" class="btn btn-theme-primary btn-cursor-pointer" ng-class="{'w-100': $root.isDeviceWidthSmallerThan(426)}" ng-disabled="formInTransit">Save</button>
                    </div>
                </div>
                <!-- End Save Button -->
            </form>
            <!-- End Notifications Form -->
        </div>
        <!-- End Notifications Form -->
    </div>
    <!-- End Container -->
</section>
<!-- End Notifications Page -->