<!-- Begin Payment Information Page -->
<section ng-controller="PaymentInformationController">
    <!-- Begin Container -->
    <div class="card-body">
        <!-- Begin Current Payment Information -->
        <div class="col-md-10 mx-auto" ng-if="paymentInformation.data.cardOnFile && !editingCard">
            <div class="card card-body card--light-light">
                <!-- Begin Card Name & Edit Button -->
                <div class="row">
                    <!-- Begin Card Name -->
                    <div class="col-md-10">
                        <p class="mb-1 d-inline-block">{{paymentInformation.data.name}}</p>
                    </div>
                    <!-- End Card Name -->
                    <!-- Begin Edit Button -->
                    <div class="col">
                        <button class="btn btn-theme-primary btn-cursor-pointer" ng-click="editCard()">Edit</button>
                    </div>
                    <!-- End Edit Button -->
                </div>
                <!-- End Card Name & Edit Button -->
                <!-- Begin Card Number & Expiration -->
                <div class="row">
                    <!-- Begin Card Number -->
                    <div class="col-md-6">
                        <!-- Begin Card Types -->
                        <i class="fa fa-credit-card" aria-hidden="true" ng-if="paymentInformation.data.type != 'Visa' && paymentInformation.data.type != 'MasterCard' && paymentInformation.data.type != 'Discover' && paymentInformation.data.type != 'American Express'"></i>
                        <i class="fa fa-cc-visa" aria-hidden="true" ng-if="paymentInformation.data.type == 'Visa'"></i>
                        <i class="fa fa-cc-mastercard" aria-hidden="true" ng-if="paymentInformation.data.type == 'MasterCard'"></i>
                        <i class="fa fa-cc-discover" aria-hidden="true" ng-if="paymentInformation.data.type == 'Discover'"></i>
                        <i class="fa fa-cc-amex" aria-hidden="true" ng-if="paymentInformation.data.type == 'American Express'"></i>
                        <!-- End Card Types -->
                        <p class="mb-0 d-inline-block">{{paymentInformation.data.type}} ending in {{paymentInformation.data.lastFour}}</p>
                    </div>
                    <!-- End Card Number -->
                    <!-- Begin Card Expiration -->
                    <div class="col-md-4">
                        <p class="mb-0 d-inline-block">Expires: {{paymentInformation.data.expiration.substring(0, 2)}}/{{paymentInformation.data.expiration.substring(2)}}</p>
                    </div>
                    <!-- End Card Expiration -->
                </div>
                <!-- End Card Number & Expiration -->
            </div>
        </div>
        <!-- End Current Payment Information -->
        <!-- Begin New Payment Information Form -->
        <div class="col-md-10 mx-auto" ng-if="!paymentInformation.data.cardOnFile || editingCard">
            <div ng-if="paymentInformationForm.errors.generic.isError">
                <span style="color: red;">{{paymentInformationForm.errors.generic.message}}</span>
            </div>
            <form class="form-group mb-0" ng-submit="updatePaymentInformation()" novalidate>
                <!-- Begin Name On Card -->
                <div class="form-group">
                    <label class="col-form-label" for="name">Name On Card <span style="color: red;">*</span></label>
                    <input class="form-control" ng-class="{'is-invalid': paymentInformationForm.errors.name.isError}" type="text" name="name" id="name" ng-model="paymentInformationForm.inputs.name" ng-disabled="formInTransit" required>
                    <small class="invalid-feedback">{{paymentInformationForm.errors.name.message}}</small>
                </div>
                <!-- End Name On Card -->
                <!-- Begin Credit Card Number -->
                <div class="form-group">
                    <label class="col-form-label" for="number">Credit Card Number <span style="color: red;">*</span></label>
                    <input class="form-control" ng-class="{'is-invalid': paymentInformationForm.errors.number.isError}" type="number" name="number" id="number" ng-model="paymentInformationForm.inputs.number" ng-disabled="formInTransit || forceDisable" required>
                    <small class="invalid-feedback">{{paymentInformationForm.errors.number.message}}</small>
                </div>
                <!-- End Credit Card Number -->
                <!-- Begin Expiration Date -->
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <label class="col-form-label" for="expirationMM">Expiration Month <span style="color: red;">*</span></label>
                            <input class="form-control" ng-class="{'is-invalid': paymentInformationForm.errors.expirationMM.isError}" type="number" name="expirationMM" id="expirationMM" placeholder="MM" ng-min="1" ng-max="12" ng-model="paymentInformationForm.inputs.expirationMM" ng-disabled="formInTransit || forceDisable" required>
                            <small class="invalid-feedback">{{paymentInformationForm.errors.expirationMM.message}}</small>
                        </div>
                        <div class="col">
                            <label class="col-form-label" for="expirationYY">Expiration Year <span style="color: red;">*</span></label>
                            <input class="form-control" ng-class="{'is-invalid': paymentInformationForm.errors.expirationYY.isError}" type="number" name="expirationYY" id="expirationYY" placeholder="YY" ng-min="acceptableDateRangeForExpiration.minYear" ng-max="acceptableDateRangeForExpiration.maxYear" ng-model="paymentInformationForm.inputs.expirationYY" ng-disabled="formInTransit || forceDisable" required>
                            <small class="invalid-feedback">{{paymentInformationForm.errors.expirationYY.message}}</small>
                        </div>
                    </div>
                </div>
                <!-- End Expiration Date -->
                <!-- Begin CCV -->
                <div class="form-group">
                    <label class="col-form-label" for="ccv">CCV <span style="color: red;">*</span></label>
                    <input class="form-control" ng-class="{'is-invalid': paymentInformationForm.errors.ccv.isError}" type="number" name="ccv" id="ccv" min="000" max="999" ng-model="paymentInformationForm.inputs.ccv" ng-disabled="formInTransit || forceDisable" required>
                    <small class="invalid-feedback">{{paymentInformationForm.errors.ccv.message}}</small>
                </div>
                <!-- End CCV -->
                <!-- Begin Save/Update & Cancel Button -->
                <div class="row mb-2">
                    <div class="col text-left">
                        <button type="submit" class="btn btn-theme-primary btn-cursor-pointer" ng-class="{'w-100': $root.isDeviceWidthSmallerThan(426)}" ng-disabled="formInTransit">{{editingCard ? 'Update' : 'Save'}}</button>
                    </div>
                    <div class="col text-right" ng-if="editingCard">
                        <a type="cancel" class="btn btn-theme-primary btn-cursor-pointer text-color--theme-secondary" ng-class="{'w-100': $root.isDeviceWidthSmallerThan(426)}" ng-click="cancelEditing()" ng-disabled="formInTransit">Cancel</a>
                    </div>
                </div>
                <!-- End Save/Update & Cancel Button -->
            </form>
        </div>
        <!-- End New Payment Information Form -->
    </div>
    <!-- End Container -->
</section>
<!-- End Payment Information Page -->