/* Begin Custom Fonts */
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

@font-face {
    font-family: 'Pacifico Local';
    src: url(#{$font-path}/Pacifico-Regular.ttf);
}
@font-face {
    font-family: 'Bree Serif Local';
    src: url(#{$font-path}/BreeSerif-Regular.ttf);
}

.font-fancy {
    &--1 {
        font-family: 'Pacifico Local', cursive;
    }
    &--2 {
        font-family: 'Bree Serif Local', serif;
    }
}
/* End Custom Fonts */