/* Begin Custom Fonts */
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Audiowide');

/*
@font-face {
    font-family: 'Pacifico Local';
    src: url(#{$font-path}/Pacifico-Regular.ttf);
}
@font-face {
    font-family: 'Bree Serif Local';
    src: url(#{$font-path}/BreeSerif-Regular.ttf);
}
*/

.font-fancy {
    &--1 {
        font-family: 'Marck Script', cursive;
    }
    &--2 {
        font-family: 'Audiowide', cursive;
    }
}
/* End Custom Fonts */