/* Begin Custom Footer Styles */
.footer-theme-primary {
    background-color: $brand-theme-main !important;
    color: $light-light;
}
.footer--sticky {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}
.footer-wrapper {
    border-style: solid;
    border-color: transparent;
    border-top-width: $border-size-double;
    border-top-color: $brand-theme-main;
}
.footer-content {
    color: $light-light;

    & .footer-svg {
        width: 30px;
        height: 30px;
    }
}
/* End Custom Footer Styles */