/* Begin Custom Footer Styles */
.footer--sticky {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: $light;
}
.footer-wrapper {
    border-style: solid;
    border-color: transparent;
    border-top-width: $border-size-double;
    border-top-color: $brand-theme-main;
}
.footer-content {
    color: $text-color;
    
    /*
    & img {
        height: 30px;
        width: 30px;
        border-radius: 2.5px;
    }
    */
    & .footer-svg {
        width: 30px;
        height: 30px;
    }
}
/* End Custom Footer Styles */