<!-- Begin Flights Page -->
<section ng-controller="FlightsController">
    <!-- Begin Container -->
    <div class="container">
        <!-- Begin Page Fully Loaded With Errors -->
        <div id="pageShow" class="collapse" ng-if="pageFullyLoaded && error.error">
            <div ng-controller="ErrorController" ng-init="init(error.title, error.status, error.message)">
                <div ng-include="'/modules/core/client/views/error.client.view.html'"></div>
            </div>
        </div>
        <!-- End Page Fully Loaded With Errors -->
        <!-- Begin Page Fully Loaded With No Errors -->
        <div id="pageShow" class="animated animation-delay--md fadeIn collapse" ng-if="pageFullyLoaded && !error.error">
            <!-- Begin Content Header -->
            <div class="jumbotron jumbotron-radius--none jumbotron-color--opacity-black jumbotron-fixed-height text-center mb-0">
                <h1 class="font-fancy--2 text-white" ng-class="{'mb-0': flights.pageSubHeader.length == 0}">{{flights.pageHeader}}</h1>
                <h5 class="mb-0 text-white">{{flights.pageSubHeader}}</h5>
            </div>
            <!-- End Content Header -->
            <!-- Begin Content Body -->
            <div class="card card--border--none card--radius--none card-body box-shadow--sm card-min-height">
                <!-- Begin Loading Hubs -->
                <div ng-if="loadingHubs">
                    <p>Loading your hubs. <i class="fa fa-spinner fa-2x fa-spin"></i></p>
                </div>
                <!-- End Loading Hubs -->
                <!-- Begin Not Having Hubs -->
                <div ng-if="hubOptions.options.length == 0 && !loadingHubs">
                    <p>Looks like you don't have any hubs. Hubs are required to search for flights. <a href="/account/hubs" class="decoration--underline btn-cursor-pointer">Let's go get you a hub</a></p>
                </div>
                <!-- End Not Having Hubs -->
                <!-- Begin Having Hubs -->
                <div ng-if="hubOptions.options.length > 0 && !loadingHubs">
                    <div class="col-md-12">
                        <div class="row">
                            <!-- Begin One Way vs. Round Trip -->
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radioRoundTrip" value="round" ng-model="searchForm.inputs.roundTripOrOneWay" ng-change="changeRoundTripOption()"> Round Trip
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radioOneWay" value="oneway" ng-model="searchForm.inputs.roundTripOrOneWay" ng-change="changeRoundTripOption()"> One Way
                                    </label>
                                </div>
                            </div>
                            <!-- End One Way vs. Round Trip -->
                            <!-- Begin Switch Of Departure/Arrival -->
                            <div class="col-md-6 text-right">
                                <h6 class="btn-cursor-pointer" ng-click="switchTo(directionText.changeTo)"><span ng-bind-html="directionText.current | trustHTML"></span></h6>       
                            </div>
                            <!-- End Switch Of Departure/Arrival -->
                        </div>
                    </div>
                    <!-- Begin Flight Search -->
                    <div id="flights-search-form" class="col-md-12">
                        <div ng-if="searchForm.errors.generic.isError">
                            <span style="color: red;">{{searchForm.errors.generic.message}}</span>
                        </div>
                        <form class="form-group typeahead-custom" ng-submit="searchFlights()" autocomplete="off" novalidate>
                            <div class="form-row">
                                <!-- Begin Depart -->
                                <div class="form-group col">
                                    <label class="col-form-label" for="departSelect">Depart</label>
                                    <!-- Begin Hub Departure -->
                                    <select id="departSelect" ng-model="searchForm.inputs.depart" class="form-control form-control-lg" ng-class="{'is-invalid': searchForm.errors.depart.isError}" ng-disabled="formInTransit" ng-if="hubDirection == 'depart'" required>
                                        <option ng-repeat="h in hubOptions.options">{{h}}</option>
                                    </select>
                                    <!-- End Hub Departure -->
                                    <!-- Begin Anywhere Departure -->
                                    <input class="form-control form-control-lg" ng-class="{'is-invalid': searchForm.errors.depart.isError}" type="text" name="departSelect" placeholder="Search for..." id="departSelect" ng-model="searchForm.inputs.depart" uib-typeahead="airport.name for airport in $root.airportCodes | filter : $viewValue | limitTo : 8" ng-disabled="formInTransit" ng-if="hubDirection == 'arrive'" required>                                
                                    <!-- End Anywhere Departure -->
                                    <small class="invalid-feedback">{{searchForm.errors.depart.message}}</small>
                                </div>
                                <!-- End Depart -->
                                <!-- Begin Arrive -->
                                <div class="form-group col">
                                    <label class="col-form-label" for="arriveSelect">Arrive</label>
                                    <!-- Begin Hub Arrival -->
                                    <select id="arriveSelect" ng-model="searchForm.inputs.arrive" class="form-control form-control-lg" ng-class="{'is-invalid': searchForm.errors.arrive.isError}" ng-disabled="formInTransit" ng-if="hubDirection == 'arrive'" required>
                                        <option ng-repeat="h in hubOptions.options">{{h}}</option>
                                    </select>
                                    <!-- End Hub Arrival -->
                                    <!-- Begin Anywhere Arrival -->
                                    <input class="form-control form-control-lg" ng-class="{'is-invalid': searchForm.errors.arrive.isError}" type="text" name="arriveSelect" placeholder="Search for..." id="arriveSelect" ng-model="searchForm.inputs.arrive" uib-typeahead="airport.name for airport in $root.airportCodes | filter : $viewValue | limitTo : 8" ng-disabled="formInTransit" ng-if="hubDirection == 'depart'" required>                                
                                    <!-- End Anywhere Arrival -->
                                    <small class="invalid-feedback">{{searchForm.errors.arrive.message}}</small>
                                </div>
                                <!-- End Arrive -->
                                <!-- Begin Depart Date -->
                                <div class="form-group col-md-3">
                                    <label class="col-form-label" for="departDate">Depart Date</label>
                                    <input class="form-control form-control-lg form-control-danger" ng-class="{'is-invalid': searchForm.errors.departDate.isError}" type="date" name="departDate" placeholder="Depart Date" id="departDate" min="{{departDateMin | date:'yyyy-MM-dd'}}" ng-model="searchForm.inputs.departDate" ng-change="changeDepartDate()" ng-disabled="formInTransit" required>
                                    <small class="invalid-feedback">{{searchForm.errors.departDate.message}}</small>
                                </div>
                                <!-- End Depart Date -->
                                <!-- Begin Return Date -->
                                <div class="form-group col-md-3">
                                    <label class="col-form-label" for="returnDate">Return Date</label>
                                    <input class="form-control form-control-lg form-control-danger" ng-class="{'is-invalid': searchForm.errors.returnDate.isError}" type="date" name="returnDate" placeholder="Return Date" id="returnDate" min="{{returnDateMin | date:'yyyy-MM-dd'}}" ng-model="searchForm.inputs.returnDate" ng-disabled="formInTransit || searchForm.inputs.roundTripOrOneWay == 'oneway'" required>
                                    <small class="invalid-feedback">{{searchForm.errors.returnDate.message}}</small>
                                </div>
                                <!-- End Return Date -->
                                <!-- Begin Adults -->
                                <div class="form-group col-md-1">
                                    <label class="col-form-label" for="adults">Adults</label>
                                    <input class="form-control form-control-lg form-control-danger" ng-class="{'is-invalid': searchForm.errors.adults.isError}" type="number" name="adults" id="adults" min="1" max="8" ng-model="searchForm.inputs.adults" ng-disabled="formInTransit" required>
                                    <small class="invalid-feedback">{{searchForm.errors.adults.message}}</small>
                                </div>
                                <!-- End Adults -->
                            </div>
                            <!-- Begin Search Button -->
                            <div class="row">
                                <div class="col text-right">
                                    <button type="submit" class="btn btn-theme-primary btn-cursor-pointer" ng-class="{'w-100': $root.isDeviceWidthSmallerThan(426)}" ng-disabled="formInTransit">{{formInTransit ? 'Searching' : 'Search'}}</button>
                                </div>
                            </div>
                            <!-- End Search Button -->
                        </form>
                    </div>                
                    <!-- End Flight Search -->
                    <!-- Begin Flights To -->
                    <div ng-if="flights.flightListTo">
                        <!-- Begin Flight List -->
                        <div class="row" ng-if="flights.flightListTo.length > 0">
                            <!-- Begin Filters -->
                            <div class="col-md-2">
                                <div class="card-body bg-light">
                                    <h6 class="text-center">Filter Results</h6>
                                    <!-- Begin Airline Filters -->
                                    <p class="text-center mb-0">Airline Filters</p>
                                    <div class="card--border--none card--border--top card--border--color-light">
                                        <div class="form-check" ng-repeat="airline in flights.flightListData.all_airlines">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" ng-value="{{airline}}" ng-model="airlineFilterModels[$index]" ng-change="updateFilter(flightFilters.airlines)">
                                                {{getAirlineName(airline)}}
                                            </label>
                                        </div>
                                    </div>
                                    <!-- End Airline Filters -->
                                    <!-- Begin Flight Air Time -->
                                    <p class="text-center mb-0">Flight Length</p>
                                    <div class="card--border--none card--border--top card--border--color-light">
                                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                    <!-- End Flight Air Time -->
                                    <!-- Begin Flight Departure Time -->
                                    <!-- End Flight Departure Time -->
                                    <!-- Begin Flight Arrival Time -->
                                    <!-- End Flight Arrival Time -->
                                    <!-- Begin Price -->
                                    <!-- End Price -->
                                    <!-- Begin # of Stops -->
                                    <!-- End # of Stops -->
                                </div>
                            </div>
                            <!-- Eng Filters -->
                            <!-- Begin Flights -->
                            <div class="col-md-10">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Airline</th>
                                            <th>Departure Time</th>
                                            <th>Arrival Time</th>
                                            <th>Flight #</th>
                                            <th>Route</th>
                                            <th>Travel Time</th>
                                            <th>Origional Price</th>
                                            <th>Your Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="flight in filteredFlights">
                                            <th scope="row">{{getAirlineName(flight.airlines[0])}}</th>
                                            <td>{{getFlightDepartureTime(flight.route)}}</td>
                                            <td>{{getFlightArrivalTime(flight.route)}}</td>
                                            <td>{{getRouteFlightNumbers(flight.route)}}</td>
                                            <td>{{getFlightPath(flight.route)}}</td>
                                            <td>{{flight.fly_duration}}</td>
                                            <td>${{$root.formatFloat(flight.price, 2)}}</td>
                                            <td>${{getUserFlightPrice(flight.price)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- End Flights -->
                        </div>
                        <!-- End Flight List -->
                        <!-- Begin No Flights Found -->
                        <p ng-if="flights.flightListTo.length == 0">Sorry, there were no flights found</p>
                        <!-- End No Flights Found -->
                    </div>
                    <!-- End Flights To -->
                </div>
                <!-- End Having Hubs -->
            </div>
            <!-- End Content Body -->
        </div>
        <!-- End Page Fully Loaded With No Errors -->
    </div>
    <!-- End Container -->
</section>
<!-- End Flights Page -->