<!-- Begin FAQ Page -->
<section ng-controller="FAQController">
    <!-- Begin Container -->
    <div class="container">
        <!-- Begin Page Fully Loaded With Errors -->
        <div id="pageShow" class="collapse" ng-if="pageFullyLoaded && error.error">
            <div ng-controller="ErrorController" ng-init="init(error.title, error.status, error.message)">
                <div ng-include="'/modules/core/client/views/error.client.view.html'"></div>
            </div>
        </div>
        <!-- End Page Fully Loaded With Errors -->
        <!-- Begin Page Fully Loaded With No Errors -->
        <div id="pageShow" class="animated animation-delay--md fadeIn collapse" ng-if="pageFullyLoaded && !error.error">
            <!-- Begin Content Header -->
            <div class="jumbotron jumbotron-radius--none jumbotron-color--opacity-black jumbotron-fixed-height text-center mb-0">
                <h1 class="font-fancy--2 text-color--white" ng-class="{'mb-0': faq.pageSubHeader.length == 0}">{{faq.pageHeader}}</h1>
                <h5 class="mb-0 text-color--white">{{faq.pageSubHeader}}</h5>
            </div>
            <!-- End Content Header -->
            <!-- Begin Content Body -->
            <div class="card card--border--none card--radius--none card-body box-shadow--sm card-min-height">
                <!-- Begin FAQ List -->
                <div id="faq-list-item-{{$index}}" class="col-md-12" ng-style="animationStyle" style="visibility: hidden;" ng-repeat="faq in faq.data.faqs">
                    <h5 style="cursor: pointer;" class="font-weight-bold" ng-click="faq.open = !faq.open">{{faq.q}}</h5>
                    <i class="fa" ng-class="{'fa-caret-up': faq.open, 'fa-caret-down': !faq.open}" aria-hidden="true" style="cursor: pointer; position: absolute; right: 20px; top: 3px;" ng-click="faq.open = !faq.open"></i>
                    <p class="pl-3 pr-3" ng-hide="!faq.open">{{faq.a}}</p>
                </div>
                <!-- End FAQ List -->
            </div>
            <!-- End Content Body -->
        </div>
        <!-- End Page Fully Loaded With No Errors -->
    </div>
    <!-- End Container -->
</section>
<!-- End FAQ Page -->